div.flex {
  display: flex;
}
div.flex > div {
  border: 1px solid #999;
}
/*
@media (max-width: 750px) {
  div.flex {
    display: block; 
  }
}*/

.origin-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
